/*-------------------Este receteo sirve para todas las páginas HTML----------*/
* {
  /* Margen y padding en cero */
  margin: 0;
  padding: 0;

  /* Tamaño de letra en 20px */
  font-size: 20px;

  /*  Definiendo la tipografia */
  font-family: Arial, Helvetica, sans-serif;

  /* Saca el subrayado de los link */
  text-decoration: none;
  list-style-type: none;
}

/*------------Encabezado, el mismo para todas las paginas HTML------------------*/
.header {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 20vh;
}

.header a img {
  width: 80px;
}

.header nav ul {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
  justify-content: space-between;

}


/*--------------Home Pagina------------------------*/
#main-index {
  background-color: rgb(228, 226, 172);
}

#main-index div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}


#main-index div p {
  width: 680px;
  padding-bottom: 30px;
  font-weight: bolder;
  /*border: 2px solid black;*/
}


.banner-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.banner-principal p {
  font-weight: bolder;
  width: 780px;
  
 /* border: 2px solid black; */
}

.banner-principal img {
  width: 550px;
  /* border: 2px solid black; */
}

#main-index h2 {
  padding: 30px;
  padding-bottom: 30px;
}

.banner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.banner h2 {
  padding: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
}

.banner div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.banner div p {
  width: 350px;
  font-weight: bolder;
  /* border: 2px solid black; */
}

.banner div img {
  padding-bottom: 30px;
  width: 550px;
  /* border: 2px solid black; */
}


/*------------Pagina contactenos------------------------*/
#main-contacto {
  /*background-color: aliceblue;*/
  background-color: rgb(225, 220, 128);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}

#main-contacto li {
  padding: 5px;
}

/*----------------Pagina Equipo------------------*/


/*-------------------Pagina Instalaciones----------------*/

.main-instalaciones{
  background-color: rgb(225, 220, 128);
}

.instalaciones {
  height: 170px;
}


.instalaciones {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-------------------Pagina Servicios----------------*/
.falso-body{
  background-color: #e5e5e5;
  min-height: 100vh;
}

header h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 15px;
  background-image: linear-gradient(to top, #2f2e2e, #474747);
  color: white;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "imagen1 imagen2 imagen3"
  "imagen4 imagen5 imagen6"
  "imagen7 imagen8 imagen9"
  ;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.319);
}
.imagen{
  margin: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
}

.imagen:hover{
  transform: scale(1.1);
}

.imagen1{
  grid-area: imagen1;
  background-image: url('https://cdn.pixabay.com/photo/2017/02/20/18/03/cat-2083492_640.jpg');
}
.imagen2{
  grid-area: imagen2;
  background-image: url('https://cdn.pixabay.com/photo/2014/04/13/20/49/cat-323262_1280.jpg');
}
.imagen3{
  grid-area: imagen3;
  background-image: url('https://cdn.pixabay.com/photo/2021/01/29/05/19/animal-5959731_640.jpg');
}
.imagen4{
  grid-area: imagen4;
  background-image: url('https://cdn.pixabay.com/photo/2014/11/30/14/11/cat-551554_1280.jpg');
}
.imagen5{
  grid-area: imagen5;
  background-image: url('https://cdn.pixabay.com/photo/2016/12/13/05/15/puppy-1903313_640.jpg');
}
.imagen6{
  grid-area: imagen6;
  background-image: url('https://cdn.pixabay.com/photo/2017/09/25/13/12/puppy-2785074_1280.jpg');
}
.imagen7{
  grid-area: imagen7;
  background-image: url('https://cdn.pixabay.com/photo/2019/08/25/13/34/dogs-4429513_640.jpg');
}
.imagen8{
  grid-area: imagen8;
  background-image: url('https://cdn.pixabay.com/photo/2016/07/15/15/55/dachshund-1519374_640.jpg');
}
.imagen9{
  grid-area: imagen9;
  background-image: url('https://cdn.pixabay.com/photo/2016/02/18/18/37/puppy-1207816_640.jpg');
}


/*Media Query para mobile last(max-width)*/

@media (max-width: 767px){
  .grid-container{
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      width: 300px;
      grid-template-areas:
      "imagen1 imagen2"
      "imagen3 imagen4"
      "imagen5 imagen6"
      "imagen7 imagen8"
      "imagen9 imagen9"
      ;
  }
}



/*------------Footer, el mismo para todas las paginas html------------------*/
.footer {
  min-height: 10vh;
  background-color: aqua;
  align-items: center;
}

.footer div {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}

.footer ul {
  display: flex;
  min-height: 10vh;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer ul li a img {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
}

/*------------fin del CSS------------------*/